<h2>nuevo estudiante</h2>

<form action='/students' method='post'>
  <label for="student[nombre]">Nombre</label><br>
  <input type="text" name="student[nombre]"><br>


  <label for="student[correo]">Email</label><br>
  <input type="text" name="student[correo]"><br>

  <label for="student[fecha_nacimiento]">Fecha de nacimiento</label><br>
  <input type="text" name="student[fecha_nacimiento]"><br>


  <label for="student[progrma]">Programa</label><br>
  <input type="text" name="student[programa]"><br>

<input type="submit" value="Guardar">
</form>
