<ul>
  <li>Nombre: <%= @student.nombre %></li>
  <li>Correo: <%= @student.correo %></li>
  <li>Programa: <%= @student.fecha_nacimiento %></li>
  <li> Fecha de nacimiento: <%= student.programa %></li>
</ul>
